.app__title {
  border-bottom: 2px solid $white;
}

.app__body {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
  margin-bottom: 2rem;

  @include bp(md) {
    margin-top: 1rem;
  }

  @include bp(lg) {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
    height: 75vh;
  }
}

.app__left-inner {
  display: flex;
  justify-content: space-between;

  @include bp(md) {
    flex-direction: column;
  }

  @include bp(lg) {
    justify-content: center;
  }
}
