.dropdown__select {
  width: 235px;
  height: 35px;
  font-size: 0.85rem;
  cursor: pointer;
  background-color: $white;
  border-radius: 0px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
