.globe {
  width: 175px;
  height: 175px;
  margin: auto;
  border-radius: 100%;
  background: url(/images/world_map_small.png);
  // Background vector created by freepik - www.freepik.com
  animation: rotate 25s linear infinite;

  @include bp(md) {
    width: 250px;
    height: 250px;
  }

  @include bp(lg) {
    width: 350px;
    height: 350px;
    background: url(/images/world_map_large.png);
  }
}

@keyframes rotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100%;
  }
}
