.header-container {
  width: 100%;
  border-bottom: 2px solid $white;
  margin-bottom: 1rem;
  h1 {
    color: $darkgreen;
    font-family: $font-stack-secondary;
    font-size: 1.75rem;
    text-shadow: 2px 2px $white;
    margin-bottom: -0.01rem;

    @include bp(lg) {
      font-size: 2rem;
      margin-left: 1rem;
    }
  }
}
