.input-field {
  display: inline-block;
}

label {
  display: block;
}

.input--small {
  width: 100px;
  height: 29px;
  font-size: 0.85rem;
}

.input--big {
  width: 230px;
  height: 29px;
  font-size: 0.85rem;
}
