.travel-form-container {
  width: 250px;
  height: auto;

  @include bp(lg) {
    width: 400px;
  }
}

.travel-form {
  display: flex;
  flex-direction: column;
  div {
    margin-bottom: 0.75rem;
  }
}

.travel-form__inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.travel-form__buttons {
  display: flex;
  justify-content: space-between;
}

.travel-form__main-btn {
  button {
    margin-left: 1rem;
    margin-bottom: 0.75rem;
  }
}
