.travels-container {
  background-color: $white;
  height: 500px;
  overflow: auto;
  padding: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

  @include bp(lg) {
    width: 600px;
    padding: 2rem;
    height: 70vh;
  }
}

.travels-add-btn {
  margin-bottom: 1rem;
}

th {
  font-family: $font-stack-tertiary;
}

.travels-table__year {
  padding-right: 2rem;
}

.travels-table__city {
  width: 150px;
}

.travels-table__country {
  width: 200px;
}
