//colors

$cottonblue: #e1e8ef;
$darkslategray: #1c2f45;
$darkgreen: #18454e;
$lightseablue: #239acc;
$lightgray: #cacaca;
$midnightblue: #1e315b;
$pink: #fcc0cb;
$salmon: #f2876a;
$white: #ffffff;
$whitesmoke: #ececec;
$beige: #fdebd3;

//fonts
$font-stack-primary: "Raleway", sans-serif;
$font-stack-secondary: "Oleo Script", cursive;
$font-stack-tertiary: "Playfair Display", serif;
