//colors

$darkslategray: #1c2f45;
$darkgreen: #18454e;
$salmon: #f2876a;
$lightseablue: #239acc;
$cottonblue: #e1e8ef;
$lightgray: #cacaca;
$midnightblue: #1e315b;
$white: #ffffff;
$whitesmoke: #ececec;

//fonts
$font-stack-primary: "Raleway", sans-serif;
$font-stack-secondary: "Oleo Script", cursive;
$font-stack-tertiary: "Playfair Display", serif;
